<html>
    <head>
        <title>All posts</title>
    </head> 
    <body>
        <table border=1>
            <tr>
                <th>Title</th>
                <th>Date create</th>
                <th>Date update</th>
                <th>Tags</th>
            </tr>
            {% for post in posts %}
            <tr>
            <td>{{post.title}}</td>    
            <td>{{post.date_created}}</td>
            <td>{{post.date_updated}}</td>
            {% for tag in post.tags.all%}
            <td>{{tag}}</td>
            {% endfor %}
            </tr>
            {% endfor %}
        </table>
    </body>
</html>